git+https://github.com/leap-stc/data-management-utils
s3fs
git+https://github.com/pangeo-forge/pangeo-forge-recipes@gcorradini_ndpyramid#egg=pangeo-forge-recipes
git+https://github.com/carbonplan/ndpyramid@split-levels#egg=ndpyramid
rioxarray
